body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
.borderbox {
    display: flex;
    text-align: center;
    margin-left: 0;
    margin-top : 0.5rem;
}

.date {
    background:rgba(0, 0, 0, 0.616);
    margin: auto;
    width: 250px;
    height: 300px;
    padding: 2rem;
    margin-top : 0.5rem;
    margin-bottom : 2rem;
    margin-left: 7rem;
    opacity: 0.8;
    border-radius:20px; 
    /*border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;*/
}

.date h2 {
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    letter-spacing: 5px;
    margin: auto;
    margin-top: 0rem;
    font-size : 1.8rem;
}


.date h1 {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 0.25rem;
    font-size : 8rem;
}

.date h3 {
    color: rgba(255, 255, 255, 0.514);
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    font-size : 1.5rem;
}

.performance {
    background: rgba(0, 0, 0, 0.616);
    margin: auto;
    width: 1000px;
    height: 300px;
    padding: 2rem;
    margin-top : 0.5rem;
    margin-bottom : 2rem;
    border-radius: 20px;
    
    opacity: 0.8;
    
}

.performance h3 {
    color: white;
    font-size : 1.8rem;
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
}

.performance span {
    color: white;
    font-size : 1.8rem;
}

#perf {
    color: white;
    display: flex;
    margin-inline: 200px;

    font-size: 1.8rem;
}
.sleephr {
    background:rgba(0, 0, 0, 0.616);
    color: white ;
    margin: auto;
    width: 250px;
    height: 300px;
    padding: 2rem;
    margin-top : 0.5rem;
    margin-bottom : 2rem;
    opacity: 0.8;
    border-radius: 20px; 
}
.sleephr h3{
    margin-top: 1rem;
    margin-right: 1.5rem;
    
}

.starttime, .endtime {
    position: relative;
}

#timeinterval {
    color: white;
    margin-top : 4rem;
    font-size: 4rem;
}
.lasor {
    display : flex;
    margin-left: 1rem;
}

.container {
    margin: auto;
    margin-left: 6rem;
    padding: 0;
}

.resultbox{
    margin-left:0;
}

.sleephr h3 {
    margin-left: 0;

}