.performance {
    background: #4e4376;
    margin: auto;
    width: 1000px;
    height: 500px;
    padding: 2rem;
    margin-top : 3rem;
    margin-bottom : 5rem;
    opacity: 0.8;
    border-radius: 20px;
}

.performance h2 {
    color: white;
    font-size : 1.8rem;
    text-align: left;
    margin-left: 2rem;
}


.table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4e4376;
  color: white;
}

